.mySwiper .swiper-pagination-bullet {
    background: grey;
    margin: 0 15px !important;
    transform: scale(1);
    transition: background-color 0.3s, transform 0.3s;
  
    &:hover {
      background-color: #000 !important;
      transform: scale(1.8);
      opacity: 1;
    }
  
    &.swiper-pagination-bullet-active {
      background-color: #000;
      transform: scale(1.8);
    }
  }